body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.header, .footer {
    background-color: #1F2937;  
}

.header {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0px;
}

ul {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    list-style-type: none;
}

li {
    margin: 16px;
    padding: 0px;
}

.content {
    display: flex;
    flex-direction: column;
}

.title {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
}

.title-left, .title-right {
    padding: 0px;
    margin-left: 100px;
    margin-right: 100px;
}